
@using NMCDriveShare_v1.Models;
@using NMCDriveShare_v1.Models.ViewModels;
@using NMCDriveShare_v1.Utilities;

@model NMCDriveShare_v1.Models.ViewModels.UserSchedulesViewModel
@{
    ViewBag.Title = "Index";
}
<body>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/UserPageScripts.js"></script>

    @*Currently nothing from the database to populate these*@
    @*<p>@Model.Username</p>*@
    @*<p>@Model.LastName, @Model.FirstName</p>*@
    @*<p>Gender: @Model.Gender</p>*@
    <div class="user-info row">
        <div class="right-side col-sm-12">
            <div class="row">
                <div class="col-sm-6 infoCell">
                    @Model.LastName, @Model.FirstName
                </div>
                <div class="col-sm-6 infoCell">
                    Gender: @Model.Gender
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12 infoCell">
					@Model.Username
				</div>
			</div>
            <div class="row">
				<div class="col-sm-6 infoCell"></div>
                <div class="col-sm-6 infoCell">
                    Rider
                    <input id="viewType" type="checkbox" onclick="hideFunction()" @(Model.IsDriver ? " checked" : "") />
                    <label for="viewType" class="checker"></label>
                    Driver
                </div>
            </div>

        </div>
    </div>



    <datalist id="geolocation-names">
        @foreach (var item in (IDictionary<int, string>)(ViewBag.GeolocationPairs ?? new Dictionary<int, string>()))
        {
            <option value="@item.Value">@item.Value</option>
        }
    </datalist>



    @*---------------------------------------------*@
    @*RIDE LIST HTML*@
    @*---------------------------------------------*@
    <div id="rideList" class="rideRouteList row">
        <div class="ride row">
            @if (!string.IsNullOrEmpty(ViewBag.AddRideErrorMessage))
            {
                <p class="text-danger">@ViewBag.AddRideErrorMessage</p>
            }
            @using (Html.BeginForm("AddRide", "User", FormMethod.Post))
            {
                <div>
                    <p>Departing From: <input type="text" class="form-control" name="SourceName" list="geolocation-names" /></p>
                    <p>At: <input type="time" class="form-control" name="DepartingTime" /></p>
                </div>
                <div>
                    <p>Destination: <input type="text" class="form-control" name="DestinationName" list="geolocation-names" /></p>
                    <p>Until: <input type="time" class="form-control" name="ArrivalTime" /></p>
                </div>
                <div>
                    <p>
                        Days:
                        <input class="allDayButtons dayBox1-Btn" type="button" value="Su" onclick="greenBox('dayBox1')" />
                        <input class="hidden checkbox dayBox1-Check" type="checkbox" name="CheckedSunday" />
                        <input class="allDayButtons dayBox2-Btn" type="button" value="M" onclick="greenBox('dayBox2')" />
                        <input id="dayBox2" class="hidden checkbox dayBox2-Check" type="checkbox" name="CheckedMonday" />
                        <input class="allDayButtons dayBox3-Btn" type="button" value="Tu" onclick="greenBox('dayBox3')" />
                        <input id="dayBox3" class="hidden checkbox dayBox3-Check" type="checkbox" name="CheckedTuesday" />
                        <input class="allDayButtons dayBox4-Btn" type="button" value="W" onclick="greenBox('dayBox4')" />
                        <input id="dayBox4" class="hidden checkbox dayBox4-Check" type="checkbox" name="CheckedWednesday" />
                        <input class="allDayButtons dayBox5-Btn" type="button" value="Th" onclick="greenBox('dayBox5')" />
                        <input id="dayBox5" class="hidden checkbox dayBox5-Check" type="checkbox" name="CheckedThursday" />
                        <input class="allDayButtons dayBox6-Btn" type="button" value="F" onclick="greenBox('dayBox6')" />
                        <input id="dayBox6" class="hidden checkbox dayBox6-Check" type="checkbox" name="CheckedFriday" />
                        <input class="allDayButtons dayBox7-Btn" type="button" value="Sa" onclick="greenBox('dayBox7')" />
                        <input id="dayBox7" class="hidden checkbox dayBox7-Check" type="checkbox" name="CheckedSaturday" />
                    </p>
                    @*<p>Scheduled: <input class="checkbox" type="checkbox" /></p>*@
                </div>
                <div><input type="submit" value="Submit" class="btn-default" /></div>
            }
        </div>
        @{ int count = 1;}
        @{ int countD = 1;}
        @foreach (RideRequestViewModel rr in (IEnumerable<RideRequestViewModel>)(Model.RideRequests ?? new RideRequestViewModel[0]))
        {
            <div class="ride row rideWidget">
                <div class="normal-view">
                    <div>
                        <p>Departing From: @rr.SourceName</p>
                        <p>At: @ScheduleFormatter.FormatDateTime(rr.DepartingTime)</p>
                    </div>
                    <div>
                        <p>Destination: @rr.DestinationName</p>
                        <p>Until: @ScheduleFormatter.FormatDateTime(rr.ArrivalTime)</p>
                    </div>
                    <div>
                        <p>
                            Days:

                            @{count += 1;
                                string countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Su" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedSunday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{count += 1;
                                countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="M" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedMonday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{count += 1;
                                countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Tu" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedTuesday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{count += 1;
                                countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="W" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedWednesday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{count += 1;
                                countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Th" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedThursday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{count += 1;
                                countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="F" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedFriday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{count += 1;
                                countText = "dayBoxA" + count.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Sa" onload="greenBox('@countText')" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rr.CheckedSaturday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                        </p>
                        <p>Scheduled: <input class="checkbox" type="checkbox" /></p>
                    </div>
                    <div>
                        @using (Html.BeginForm("RemoveRide", "User", FormMethod.Post))
                        {
                            <input type="hidden" name="requestNum" value="@rr.RequestNum" />
                            <input type="submit" value="Delete" class="btn-danger" />
                            <input type="button" value="Edit" class="btn-default"
                                   onclick="toggleRideEditState(event)" />
                        }
                    </div>
                </div>
                <div class="edit-view">
                    @using (Html.BeginForm("EditRide", "User", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@rr.RequestNum" />
                        <input type="hidden" name="RequestNum" value="@rr.RequestNum" />
                        <div>
                            @*TODO: Turn ride requests into ride request view models with departing from and destination fields.*@
                            <p>Departing From: <input type="text" class="form-control" name="SourceName" value="@rr.SourceName" list="geolocation-names" /></p>
                            <p>At: <input type="time" class="form-control" name="DepartingTime" value="@rr.DepartingTime.ToString()" /></p>
                        </div>
                        <div>
                            <p>Destination: <input type="text" class="form-control" name="DestinationName" value="@rr.DestinationName" list="geolocation-names" /></p>
                            <p>Until: <input type="time" class="form-control" name="ArrivalTime" value="@rr.ArrivalTime.ToString()" /></p>
                        </div>
                        <div>
                            <p>
                                Days:
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Su" onclick="greenBox('@countText')" />
                                <input class="hidden checkbox @countText-Check" type="checkbox" name="CheckedSunday" />
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="M" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedMonday" />
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Tu" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedTuesday" />
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="W" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedWednesday" />
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Th" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedThursday" />
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="F" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedFriday" />
                                @{countD += 1;
                                    countText = "dayBoxD" + countD.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Sa" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedSaturday" />
                            </p>
                            @*<p>Scheduled: <input class="checkbox" type="checkbox" /></p>*@
                        </div>
                        <div>
                            <input type="submit" value="Save" class="btn-default" />
                            <input type="button" value="Cancel " class="btn-default"
                                   onclick="toggleRideEditState(event)" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    @*---------------------------------------------*@
    @*ROUTE LIST HTML*@
    @*---------------------------------------------*@
    <div id="routeList" class="rideRouteList row">
        <div class="route row">
            @if (!string.IsNullOrEmpty(ViewBag.AddRideErrorMessage))
            {
                <p class="text-danger">@ViewBag.AddRideErrorMessage</p>
            }
            @using (Html.BeginForm("AddRoute", "User", FormMethod.Post))
            {
                <div>
                    @* Source commented out due to lack of a source field in database *@
                    @* TODO: Update database to include this missing field *@
                    @*<p>Departing From: <input type="text" name="SourceName" list="geolocation-names" /></p>*@
                    <p>At: <input type="time" class="form-control" name="DepartingTime" /></p>
                </div>
                <div>
                    <p>Destination: <input type="text" class="form-control" name="DestinationName" list="geolocation-names" /></p>
                    <p>Until: <input type="time" class="form-control" name="ArrivalTime" /></p>
                </div>
                <div>
                    <p>
                        Days:
                        <input class="allDayButtons dayBox8-Btn" type="button" value="Su" onclick="greenBox('dayBox8')" />
                        <input class="hidden checkbox dayBox8-Check" type="checkbox" name="CheckedSunday" />
                        <input class="allDayButtons dayBox9-Btn" type="button" value="M" onclick="greenBox('dayBox9')" />
                        <input id="dayBox9" class="hidden checkbox dayBox9-Check" type="checkbox" name="CheckedMonday" />
                        <input class="allDayButtons dayBox10-Btn" type="button" value="Tu" onclick="greenBox('dayBox10')" />
                        <input id="dayBox10" class="hidden checkbox dayBox10-Check" type="checkbox" name="CheckedTuesday" />
                        <input class="allDayButtons dayBox11-Btn" type="button" value="W" onclick="greenBox('dayBox11')" />
                        <input id="dayBox11" class="hidden checkbox dayBox11-Check" type="checkbox" name="CheckedWednesday" />
                        <input class="allDayButtons dayBox12-Btn" type="button" value="Th" onclick="greenBox('dayBox12')" />
                        <input id="dayBox12" class="hidden checkbox dayBox12-Check" type="checkbox" name="CheckedThursday" />
                        <input class="allDayButtons dayBox13-Btn" type="button" value="F" onclick="greenBox('dayBox13')" />
                        <input id="dayBox13" class="hidden checkbox dayBox13-Check" type="checkbox" name="CheckedFriday" />
                        <input class="allDayButtons dayBox14-Btn" type="button" value="Sa" onclick="greenBox('dayBox14')" />
                        <input id="dayBox14" class="hidden checkbox dayBox14-Check" type="checkbox" name="CheckedSaturday" />
                    </p>
                    @*<p>Scheduled: <input class="checkbox" type="checkbox" /></p>*@
                </div>
                <div>
                    <p>Seats: <input type="number" name="MaxSeatCount" value="3" min="0" max="50" /></p>
                </div>
                <div><input type="submit" value="Submit" class="btn-default" /></div>
            }
        </div>
        @{ int countB = 1;}
        @{ int countC = 1;}
        @foreach (RouteViewModel rv in (IEnumerable<RouteViewModel>)(Model.Routes ?? new RouteViewModel[0]))
        {
            <div class="route row routeWidget">
                <div class="normal-view">
                    <div>
                        @*<p>Departing From: @rv.SourceName</p>*@
                        <p>At: @ScheduleFormatter.FormatDateTime(rv.DepartingTime)</p>
                    </div>
                    <div>
                        <p>Destination: @rv.DestinationName</p>
                        <p>Until: @ScheduleFormatter.FormatDateTime(rv.ArrivalTime)</p>
                    </div>
                    <div>
                        <p>
                            Days:

                            @{countB += 1;
                                string countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Su" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedSunday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{countB += 1;
                                countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="M" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedMonday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{countB += 1;
                                countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Tu" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedTuesday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{countB += 1;
                                countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="W" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedWednesday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{countB += 1;
                                countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Th" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedThursday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{countB += 1;
                                countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="F" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedFriday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                            @{countB += 1;
                                countText = "dayBoxB" + countB.ToString();}
                            <input class="allDayButtons @countText-Btn " type="button" value="Sa" onload="greenBox('@countText')" />
                            <input class="hidden checkbox @countText-Check" type="checkbox" @(rv.CheckedSaturday == "on" ? " checked" : "") disabled />
                            <script>renderGreenBox('@countText')</script>
                        </p>
                        <p>Scheduled: <input class="checkbox" type="checkbox" /></p>
                    </div>
                    <div>
                        <p>Seats: @rv.MaxSeatCount</p>
                    </div>
                    <div>
                        @using (Html.BeginForm("RemoveRoute", "User", FormMethod.Post))
                        {
                            <input type="hidden" name="requestNum" value="@rv.RequestNum" />
                            <input type="submit" value="Delete" class="btn-danger" />
                            <input type="button" value="Edit" class="btn-default"
                                   onclick="toggleRouteEditState(event)" />
                        }
                    </div>
                </div>
                <div class="edit-view">
                    @using (Html.BeginForm("EditRoute", "User", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@rv.RequestNum" />
                        <input type="hidden" name="RequestNum" value="@rv.RequestNum" />
                        <div>
                            @*TODO: Turn ride requests into ride request view models with departing from and destination fields.*@
                            @*<p>Departing From: <input type="text" name="SourceName" value="@rv.SourceName" list="geolocation-names" /></p>*@
                            <p>At: <input type="time" class="form-control" name="DepartingTime" value="@rv.DepartingTime.ToString()" /></p>
                        </div>
                        <div>
                            <p>Destination: <input type="text" class="form-control" name="DestinationName" value="@rv.DestinationName" list="geolocation-names" /></p>
                            <p>Until: <input type="time" class="form-control" name="ArrivalTime" value="@rv.ArrivalTime.ToString()" /></p>
                        </div>
                        <div>
                            <p>
                                Days:
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Su" onclick="greenBox('@countText')" />
                                <input class="hidden checkbox @countText-Check" type="checkbox" name="CheckedSunday" />
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="M" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedMonday" />
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Tu" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedTuesday" />
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="W" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedWednesday" />
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Th" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedThursday" />
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="F" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedFriday" />
                                @{countC += 1;
                                    countText = "dayBoxC" + countC.ToString();}
                                <input class="allDayButtons @countText-Btn" type="button" value="Sa" onclick="greenBox('@countText')" />
                                <input id="@countText" class="hidden checkbox @countText-Check" type="checkbox" name="CheckedSaturday" />
                            </p>
                            @*<p>Scheduled: <input class="checkbox" type="checkbox" /></p>*@
                        </div>
                        <div>
                            <p>Seats: <input type="number" name="MaxSeatCount" value="@rv.MaxSeatCount" min="0" max="50" /></p>
                        </div>
                        <div>
                            <input type="submit" value="Save" class="btn-default" />
                            <input type="button" value="Cancel" class="btn-default"
                                   onclick="toggleRouteEditState(event)" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</body>




<script src="~/Scripts/UserPageScripts.js"></script>
